/* Reset default browser styles */
body,
html {
    margin: 0;
    padding: 0;
}

/* Navbar styles */
nav {
    background: rgb(0, 211, 255);
    background: linear-gradient(90deg, rgba(0, 211, 255, 1) 0%, rgba(249, 255, 0, 1) 100%);
    color: #000000;
    padding: 10px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.brand h1 {
    margin: 0;
    font-size: 24px;
}

.brand p {
    margin: 0;
    font-size: 12px;
    opacity: 0.7;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    opacity: 0.7;
}

.user-options a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    margin-left: 20px;
}

/* Products section styles */
.products-section {
    background: rgb(246, 255, 94);
    background: radial-gradient(circle, rgba(246, 255, 94, 1) 21%, rgba(70, 248, 252, 1) 87%);
    padding: 40px 0;
}

.products-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.products-container h2 {
    margin-bottom: 30px;
}

.products-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.product {
    width: 200px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product h3 {
    margin: 0;
    font-size: 18px;
}

.product p {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 10px;
}

.product button {
    background: rgb(255,0,0);
background: linear-gradient(0deg, rgba(255,0,0,1) 10%, rgba(191,34,195,1) 50%, rgba(255,0,0,1) 90%);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
}

/* Footer styles */
footer {
    background: rgb(0, 211, 255);
    background: linear-gradient(90deg, rgba(0, 211, 255, 1) 0%, rgba(249, 255, 0, 1) 100%);
    color: #000000;
    padding: 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer-container p {
    margin: 0;
    font-size: 14px;
    opacity: 0.7;
}